 @import '../abstract/variaveis';

.banner
{
    background: url("../imagens/banner.jpeg") 27% center no-repeat;
    // background-image: url(../../imagens/banner.jpeg);
    // background-position: center;
    // background-repeat: no-repeat;
    min-height:500px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;

    @media screen 
    {
        @media (max-width: 728px)
        {

        }
        @media (max-width: 728px)
        {
            min-height: 250px;
        }
    }

    .inner-banner
    {
        padding: 3rem;
        background-color: $cor-terciaria;
        border-radius: 2.8rem;
        opacity: 0.8;

        @media screen
        {
            @media (max-width: 728px)
            {

            }
            @media (max-width: 428px)
            {
                padding: 1rem;
                opacity: 1;
            }
        }

        h1 
        {
            font-size: $tamanho-do-texto;
            color: $cor-primaria;

            @media screen 
            {
                @media (max-width: 728px)
                {
                    
                }
                @media (max-width: 428px)
                {
                    font-size: calc($tamanho-do-texto / 2);
                }
            }
        }

        h2 
        {
            font-size: calc($tamanho-do-texto / 2);
            color: $cor-secundaria;

            @media screen 
            {
                @media (max-width: 728px)
                {

                }
                @media (max-width: 428px)
                {
                    font-size: calc($tamanho-do-texto / 3);
                }
            }
        }

    }
}